<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.ibtool.document.classes</key>
	<dict>
		<key>ADBannerView</key>
		<dict>
			<key>class</key>
			<string>ADBannerView</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>FirstResponder</key>
		<dict>
			<key>class</key>
			<string>FirstResponder</string>
		</dict>
		<key>GLKView</key>
		<dict>
			<key>class</key>
			<string>GLKView</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>GLKViewController</key>
		<dict>
			<key>class</key>
			<string>GLKViewController</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIViewController</string>
		</dict>
		<key>MKMapView</key>
		<dict>
			<key>class</key>
			<string>MKMapView</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>NSArray</key>
		<dict>
			<key>class</key>
			<string>NSArray</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSAtomicStore</key>
		<dict>
			<key>class</key>
			<string>NSAtomicStore</string>
			<key>superclass</key>
			<string>NSPersistentStore</string>
		</dict>
		<key>NSAtomicStoreCacheNode</key>
		<dict>
			<key>class</key>
			<string>NSAtomicStoreCacheNode</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSAttributeDescription</key>
		<dict>
			<key>class</key>
			<string>NSAttributeDescription</string>
			<key>superclass</key>
			<string>NSPropertyDescription</string>
		</dict>
		<key>NSAttributedString</key>
		<dict>
			<key>class</key>
			<string>NSAttributedString</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSAutoreleasePool</key>
		<dict>
			<key>class</key>
			<string>NSAutoreleasePool</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSBundle</key>
		<dict>
			<key>class</key>
			<string>NSBundle</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSByteCountFormatter</key>
		<dict>
			<key>class</key>
			<string>NSByteCountFormatter</string>
			<key>superclass</key>
			<string>NSFormatter</string>
		</dict>
		<key>NSCache</key>
		<dict>
			<key>class</key>
			<string>NSCache</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSCachedURLResponse</key>
		<dict>
			<key>class</key>
			<string>NSCachedURLResponse</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSCalendar</key>
		<dict>
			<key>class</key>
			<string>NSCalendar</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSCoder</key>
		<dict>
			<key>class</key>
			<string>NSCoder</string>
		</dict>
		<key>NSComparisonPredicate</key>
		<dict>
			<key>class</key>
			<string>NSComparisonPredicate</string>
			<key>superclass</key>
			<string>NSPredicate</string>
		</dict>
		<key>NSCompoundPredicate</key>
		<dict>
			<key>class</key>
			<string>NSCompoundPredicate</string>
			<key>superclass</key>
			<string>NSPredicate</string>
		</dict>
		<key>NSData</key>
		<dict>
			<key>class</key>
			<string>NSData</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSDateFormatter</key>
		<dict>
			<key>class</key>
			<string>NSDateFormatter</string>
			<key>superclass</key>
			<string>NSFormatter</string>
		</dict>
		<key>NSDecimalNumber</key>
		<dict>
			<key>class</key>
			<string>NSDecimalNumber</string>
			<key>superclass</key>
			<string>NSNumber</string>
		</dict>
		<key>NSEntityDescription</key>
		<dict>
			<key>class</key>
			<string>NSEntityDescription</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSEntityMapping</key>
		<dict>
			<key>class</key>
			<string>NSEntityMapping</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSEntityMigrationPolicy</key>
		<dict>
			<key>class</key>
			<string>NSEntityMigrationPolicy</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSError</key>
		<dict>
			<key>class</key>
			<string>NSError</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSException</key>
		<dict>
			<key>class</key>
			<string>NSException</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSExpression</key>
		<dict>
			<key>class</key>
			<string>NSExpression</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSExpressionDescription</key>
		<dict>
			<key>class</key>
			<string>NSExpressionDescription</string>
			<key>superclass</key>
			<string>NSPropertyDescription</string>
		</dict>
		<key>NSFetchRequest</key>
		<dict>
			<key>class</key>
			<string>NSFetchRequest</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSFetchRequestExpression</key>
		<dict>
			<key>class</key>
			<string>NSFetchRequestExpression</string>
			<key>superclass</key>
			<string>NSExpression</string>
		</dict>
		<key>NSFetchedPropertyDescription</key>
		<dict>
			<key>class</key>
			<string>NSFetchedPropertyDescription</string>
			<key>superclass</key>
			<string>NSPropertyDescription</string>
		</dict>
		<key>NSFetchedResultsController</key>
		<dict>
			<key>class</key>
			<string>NSFetchedResultsController</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSFileWrapper</key>
		<dict>
			<key>class</key>
			<string>NSFileWrapper</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSFormatter</key>
		<dict>
			<key>class</key>
			<string>NSFormatter</string>
		</dict>
		<key>NSHTTPCookie</key>
		<dict>
			<key>class</key>
			<string>NSHTTPCookie</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSHTTPCookieStorage</key>
		<dict>
			<key>class</key>
			<string>NSHTTPCookieStorage</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSIndexPath</key>
		<dict>
			<key>class</key>
			<string>NSIndexPath</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSIndexSet</key>
		<dict>
			<key>class</key>
			<string>NSIndexSet</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSInvocation</key>
		<dict>
			<key>class</key>
			<string>NSInvocation</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSKeyedArchiver</key>
		<dict>
			<key>class</key>
			<string>NSKeyedArchiver</string>
			<key>superclass</key>
			<string>NSCoder</string>
		</dict>
		<key>NSLocale</key>
		<dict>
			<key>class</key>
			<string>NSLocale</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSLock</key>
		<dict>
			<key>class</key>
			<string>NSLock</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSManagedObject</key>
		<dict>
			<key>class</key>
			<string>NSManagedObject</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSManagedObjectContext</key>
		<dict>
			<key>class</key>
			<string>NSManagedObjectContext</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSManagedObjectID</key>
		<dict>
			<key>class</key>
			<string>NSManagedObjectID</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSManagedObjectModel</key>
		<dict>
			<key>class</key>
			<string>NSManagedObjectModel</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSMappingModel</key>
		<dict>
			<key>class</key>
			<string>NSMappingModel</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSMethodSignature</key>
		<dict>
			<key>class</key>
			<string>NSMethodSignature</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSMigrationManager</key>
		<dict>
			<key>class</key>
			<string>NSMigrationManager</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSNetService</key>
		<dict>
			<key>class</key>
			<string>NSNetService</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSNotification</key>
		<dict>
			<key>class</key>
			<string>NSNotification</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSNotificationQueue</key>
		<dict>
			<key>class</key>
			<string>NSNotificationQueue</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSNumber</key>
		<dict>
			<key>class</key>
			<string>NSNumber</string>
		</dict>
		<key>NSNumberFormatter</key>
		<dict>
			<key>class</key>
			<string>NSNumberFormatter</string>
			<key>superclass</key>
			<string>NSFormatter</string>
		</dict>
		<key>NSObject</key>
		<dict>
			<key>class</key>
			<string>NSObject</string>
		</dict>
		<key>NSOperation</key>
		<dict>
			<key>class</key>
			<string>NSOperation</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSPersistentStore</key>
		<dict>
			<key>class</key>
			<string>NSPersistentStore</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSPersistentStoreCoordinator</key>
		<dict>
			<key>class</key>
			<string>NSPersistentStoreCoordinator</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSPort</key>
		<dict>
			<key>class</key>
			<string>NSPort</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSPredicate</key>
		<dict>
			<key>class</key>
			<string>NSPredicate</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSProcessInfo</key>
		<dict>
			<key>class</key>
			<string>NSProcessInfo</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSPropertyDescription</key>
		<dict>
			<key>class</key>
			<string>NSPropertyDescription</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSPropertyListSerialization</key>
		<dict>
			<key>class</key>
			<string>NSPropertyListSerialization</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSPropertyMapping</key>
		<dict>
			<key>class</key>
			<string>NSPropertyMapping</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSRegularExpression</key>
		<dict>
			<key>class</key>
			<string>NSRegularExpression</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSRelationshipDescription</key>
		<dict>
			<key>class</key>
			<string>NSRelationshipDescription</string>
			<key>superclass</key>
			<string>NSPropertyDescription</string>
		</dict>
		<key>NSRunLoop</key>
		<dict>
			<key>class</key>
			<string>NSRunLoop</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSSet</key>
		<dict>
			<key>class</key>
			<string>NSSet</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSSortDescriptor</key>
		<dict>
			<key>class</key>
			<string>NSSortDescriptor</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSString</key>
		<dict>
			<key>class</key>
			<string>NSString</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSThread</key>
		<dict>
			<key>class</key>
			<string>NSThread</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSTimeZone</key>
		<dict>
			<key>class</key>
			<string>NSTimeZone</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSURL</key>
		<dict>
			<key>class</key>
			<string>NSURL</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSURLAuthenticationChallenge</key>
		<dict>
			<key>class</key>
			<string>NSURLAuthenticationChallenge</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSURLConnection</key>
		<dict>
			<key>class</key>
			<string>NSURLConnection</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSURLCredential</key>
		<dict>
			<key>class</key>
			<string>NSURLCredential</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSURLCredentialStorage</key>
		<dict>
			<key>class</key>
			<string>NSURLCredentialStorage</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSURLProtectionSpace</key>
		<dict>
			<key>class</key>
			<string>NSURLProtectionSpace</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSURLProtocol</key>
		<dict>
			<key>class</key>
			<string>NSURLProtocol</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSURLRequest</key>
		<dict>
			<key>class</key>
			<string>NSURLRequest</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSURLResponse</key>
		<dict>
			<key>class</key>
			<string>NSURLResponse</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSUndoManager</key>
		<dict>
			<key>actions</key>
			<dict>
				<key>redo:</key>
				<string>id</string>
				<key>undo:</key>
				<string>id</string>
			</dict>
			<key>class</key>
			<string>NSUndoManager</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSUserDefaults</key>
		<dict>
			<key>class</key>
			<string>NSUserDefaults</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSValueTransformer</key>
		<dict>
			<key>class</key>
			<string>NSValueTransformer</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>NSXMLParser</key>
		<dict>
			<key>class</key>
			<string>NSXMLParser</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>QLPreviewController</key>
		<dict>
			<key>class</key>
			<string>QLPreviewController</string>
			<key>outlets</key>
			<dict>
				<key>dataSource</key>
				<string>id</string>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIViewController</string>
		</dict>
		<key>SCNView</key>
		<dict>
			<key>class</key>
			<string>SCNView</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>SFSafariViewController</key>
		<dict>
			<key>class</key>
			<string>SFSafariViewController</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIViewController</string>
		</dict>
		<key>UIAcceleration</key>
		<dict>
			<key>class</key>
			<string>UIAcceleration</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIAccelerometer</key>
		<dict>
			<key>class</key>
			<string>UIAccelerometer</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIAccessibilityElement</key>
		<dict>
			<key>class</key>
			<string>UIAccessibilityElement</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIActionSheet</key>
		<dict>
			<key>class</key>
			<string>UIActionSheet</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UIActivityIndicatorView</key>
		<dict>
			<key>class</key>
			<string>UIActivityIndicatorView</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UIAlertView</key>
		<dict>
			<key>class</key>
			<string>UIAlertView</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UIApplication</key>
		<dict>
			<key>class</key>
			<string>UIApplication</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIResponder</string>
		</dict>
		<key>UIBarButtonItem</key>
		<dict>
			<key>class</key>
			<string>UIBarButtonItem</string>
			<key>superclass</key>
			<string>UIBarItem</string>
		</dict>
		<key>UIBarItem</key>
		<dict>
			<key>class</key>
			<string>UIBarItem</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIBezierPath</key>
		<dict>
			<key>class</key>
			<string>UIBezierPath</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIButton</key>
		<dict>
			<key>class</key>
			<string>UIButton</string>
			<key>superclass</key>
			<string>UIControl</string>
		</dict>
		<key>UICollectionReusableView</key>
		<dict>
			<key>class</key>
			<string>UICollectionReusableView</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UICollectionView</key>
		<dict>
			<key>class</key>
			<string>UICollectionView</string>
			<key>outlets</key>
			<dict>
				<key>dataSource</key>
				<string>id</string>
				<key>prefetchDataSource</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIScrollView</string>
		</dict>
		<key>UICollectionViewCell</key>
		<dict>
			<key>class</key>
			<string>UICollectionViewCell</string>
			<key>outlets</key>
			<dict>
				<key>backgroundView</key>
				<string>UIView</string>
				<key>selectedBackgroundView</key>
				<string>UIView</string>
			</dict>
			<key>superclass</key>
			<string>UICollectionReusableView</string>
		</dict>
		<key>UICollectionViewController</key>
		<dict>
			<key>class</key>
			<string>UICollectionViewController</string>
			<key>outlets</key>
			<dict>
				<key>collectionView</key>
				<string>UICollectionView</string>
			</dict>
			<key>superclass</key>
			<string>UIViewController</string>
		</dict>
		<key>UIColor</key>
		<dict>
			<key>class</key>
			<string>UIColor</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIControl</key>
		<dict>
			<key>class</key>
			<string>UIControl</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UIDatePicker</key>
		<dict>
			<key>class</key>
			<string>UIDatePicker</string>
			<key>superclass</key>
			<string>UIControl</string>
		</dict>
		<key>UIDevice</key>
		<dict>
			<key>class</key>
			<string>UIDevice</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIDocumentInteractionController</key>
		<dict>
			<key>class</key>
			<string>UIDocumentInteractionController</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIEvent</key>
		<dict>
			<key>class</key>
			<string>UIEvent</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIFont</key>
		<dict>
			<key>class</key>
			<string>UIFont</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIGestureRecognizer</key>
		<dict>
			<key>class</key>
			<string>UIGestureRecognizer</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIImage</key>
		<dict>
			<key>class</key>
			<string>UIImage</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIImagePickerController</key>
		<dict>
			<key>class</key>
			<string>UIImagePickerController</string>
			<key>superclass</key>
			<string>UINavigationController</string>
		</dict>
		<key>UIImageView</key>
		<dict>
			<key>class</key>
			<string>UIImageView</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UIInputView</key>
		<dict>
			<key>class</key>
			<string>UIInputView</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UIInputViewController</key>
		<dict>
			<key>class</key>
			<string>UIInputViewController</string>
			<key>outlets</key>
			<dict>
				<key>inputView</key>
				<string>UIInputView</string>
			</dict>
			<key>superclass</key>
			<string>UIViewController</string>
		</dict>
		<key>UILabel</key>
		<dict>
			<key>class</key>
			<string>UILabel</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UILocalizedIndexedCollation</key>
		<dict>
			<key>class</key>
			<string>UILocalizedIndexedCollation</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UILongPressGestureRecognizer</key>
		<dict>
			<key>class</key>
			<string>UILongPressGestureRecognizer</string>
			<key>superclass</key>
			<string>UIGestureRecognizer</string>
		</dict>
		<key>UIMenuController</key>
		<dict>
			<key>class</key>
			<string>UIMenuController</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UINavigationBar</key>
		<dict>
			<key>class</key>
			<string>UINavigationBar</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UINavigationController</key>
		<dict>
			<key>class</key>
			<string>UINavigationController</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIViewController</string>
		</dict>
		<key>UINavigationItem</key>
		<dict>
			<key>class</key>
			<string>UINavigationItem</string>
			<key>outlets</key>
			<dict>
				<key>backBarButtonItem</key>
				<string>UIBarButtonItem</string>
				<key>leftBarButtonItem</key>
				<string>UIBarButtonItem</string>
				<key>rightBarButtonItem</key>
				<string>UIBarButtonItem</string>
				<key>titleView</key>
				<string>UIView</string>
			</dict>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UINib</key>
		<dict>
			<key>class</key>
			<string>UINib</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIPageControl</key>
		<dict>
			<key>class</key>
			<string>UIPageControl</string>
			<key>superclass</key>
			<string>UIControl</string>
		</dict>
		<key>UIPageViewController</key>
		<dict>
			<key>class</key>
			<string>UIPageViewController</string>
			<key>outlets</key>
			<dict>
				<key>dataSource</key>
				<string>id</string>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIViewController</string>
		</dict>
		<key>UIPanGestureRecognizer</key>
		<dict>
			<key>class</key>
			<string>UIPanGestureRecognizer</string>
			<key>superclass</key>
			<string>UIGestureRecognizer</string>
		</dict>
		<key>UIPasteboard</key>
		<dict>
			<key>class</key>
			<string>UIPasteboard</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIPickerView</key>
		<dict>
			<key>class</key>
			<string>UIPickerView</string>
			<key>outlets</key>
			<dict>
				<key>dataSource</key>
				<string>id</string>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UIPinchGestureRecognizer</key>
		<dict>
			<key>class</key>
			<string>UIPinchGestureRecognizer</string>
			<key>superclass</key>
			<string>UIGestureRecognizer</string>
		</dict>
		<key>UIPopoverController</key>
		<dict>
			<key>class</key>
			<string>UIPopoverController</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIProgressView</key>
		<dict>
			<key>class</key>
			<string>UIProgressView</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UIRefreshControl</key>
		<dict>
			<key>class</key>
			<string>UIRefreshControl</string>
			<key>superclass</key>
			<string>UIControl</string>
		</dict>
		<key>UIResponder</key>
		<dict>
			<key>class</key>
			<string>UIResponder</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIRotationGestureRecognizer</key>
		<dict>
			<key>class</key>
			<string>UIRotationGestureRecognizer</string>
			<key>superclass</key>
			<string>UIGestureRecognizer</string>
		</dict>
		<key>UIScreen</key>
		<dict>
			<key>class</key>
			<string>UIScreen</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIScreenEdgePanGestureRecognizer</key>
		<dict>
			<key>class</key>
			<string>UIScreenEdgePanGestureRecognizer</string>
			<key>superclass</key>
			<string>UIPanGestureRecognizer</string>
		</dict>
		<key>UIScreenMode</key>
		<dict>
			<key>class</key>
			<string>UIScreenMode</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIScrollView</key>
		<dict>
			<key>class</key>
			<string>UIScrollView</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UISearchBar</key>
		<dict>
			<key>class</key>
			<string>UISearchBar</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UISearchDisplayController</key>
		<dict>
			<key>class</key>
			<string>UISearchDisplayController</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
				<key>searchBar</key>
				<string>UISearchBar</string>
				<key>searchContentsController</key>
				<string>UIViewController</string>
				<key>searchResultsDataSource</key>
				<string>id</string>
				<key>searchResultsDelegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UISegmentedControl</key>
		<dict>
			<key>class</key>
			<string>UISegmentedControl</string>
			<key>superclass</key>
			<string>UIControl</string>
		</dict>
		<key>UISlider</key>
		<dict>
			<key>class</key>
			<string>UISlider</string>
			<key>superclass</key>
			<string>UIControl</string>
		</dict>
		<key>UISplitViewController</key>
		<dict>
			<key>class</key>
			<string>UISplitViewController</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIViewController</string>
		</dict>
		<key>UIStackView</key>
		<dict>
			<key>class</key>
			<string>UIStackView</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UIStepper</key>
		<dict>
			<key>class</key>
			<string>UIStepper</string>
			<key>superclass</key>
			<string>UIControl</string>
		</dict>
		<key>UISwipeGestureRecognizer</key>
		<dict>
			<key>class</key>
			<string>UISwipeGestureRecognizer</string>
			<key>superclass</key>
			<string>UIGestureRecognizer</string>
		</dict>
		<key>UISwitch</key>
		<dict>
			<key>class</key>
			<string>UISwitch</string>
			<key>superclass</key>
			<string>UIControl</string>
		</dict>
		<key>UITabBar</key>
		<dict>
			<key>class</key>
			<string>UITabBar</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UITabBarController</key>
		<dict>
			<key>class</key>
			<string>UITabBarController</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIViewController</string>
		</dict>
		<key>UITabBarItem</key>
		<dict>
			<key>class</key>
			<string>UITabBarItem</string>
			<key>superclass</key>
			<string>UIBarItem</string>
		</dict>
		<key>UITableView</key>
		<dict>
			<key>class</key>
			<string>UITableView</string>
			<key>outlets</key>
			<dict>
				<key>dataSource</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIScrollView</string>
		</dict>
		<key>UITableViewCell</key>
		<dict>
			<key>class</key>
			<string>UITableViewCell</string>
			<key>outlets</key>
			<dict>
				<key>accessoryView</key>
				<string>UIView</string>
				<key>backgroundView</key>
				<string>UIView</string>
				<key>editingAccessoryView</key>
				<string>UIView</string>
				<key>selectedBackgroundView</key>
				<string>UIView</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UITableViewCellContentView</key>
		<dict>
			<key>class</key>
			<string>UITableViewCellContentView</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UITableViewController</key>
		<dict>
			<key>class</key>
			<string>UITableViewController</string>
			<key>superclass</key>
			<string>UIViewController</string>
		</dict>
		<key>UITapGestureRecognizer</key>
		<dict>
			<key>class</key>
			<string>UITapGestureRecognizer</string>
			<key>superclass</key>
			<string>UIGestureRecognizer</string>
		</dict>
		<key>UITextChecker</key>
		<dict>
			<key>class</key>
			<string>UITextChecker</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UITextField</key>
		<dict>
			<key>actions</key>
			<dict>
				<key>toggleBoldface:</key>
				<string>id</string>
				<key>toggleItalics:</key>
				<string>id</string>
				<key>toggleUnderline:</key>
				<string>id</string>
			</dict>
			<key>class</key>
			<string>UITextField</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIControl</string>
		</dict>
		<key>UITextPosition</key>
		<dict>
			<key>class</key>
			<string>UITextPosition</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UITextView</key>
		<dict>
			<key>actions</key>
			<dict>
				<key>copy:</key>
				<string>id</string>
				<key>cut:</key>
				<string>id</string>
				<key>paste:</key>
				<string>id</string>
				<key>select:</key>
				<string>id</string>
				<key>selectAll:</key>
				<string>id</string>
				<key>toggleBoldface:</key>
				<string>id</string>
				<key>toggleItalics:</key>
				<string>id</string>
				<key>toggleUnderline:</key>
				<string>id</string>
			</dict>
			<key>class</key>
			<string>UITextView</string>
			<key>superclass</key>
			<string>UIScrollView</string>
		</dict>
		<key>UIToolbar</key>
		<dict>
			<key>class</key>
			<string>UIToolbar</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UITouch</key>
		<dict>
			<key>class</key>
			<string>UITouch</string>
			<key>superclass</key>
			<string>NSObject</string>
		</dict>
		<key>UIVideoEditorController</key>
		<dict>
			<key>class</key>
			<string>UIVideoEditorController</string>
			<key>superclass</key>
			<string>UINavigationController</string>
		</dict>
		<key>UIView</key>
		<dict>
			<key>class</key>
			<string>UIView</string>
			<key>multi-outlets</key>
			<dict>
				<key>gestureRecognizers</key>
				<string>UIGestureRecognizer</string>
			</dict>
			<key>superclass</key>
			<string>UIResponder</string>
		</dict>
		<key>UIViewController</key>
		<dict>
			<key>class</key>
			<string>UIViewController</string>
			<key>outlets</key>
			<dict>
				<key>searchDisplayController</key>
				<string>UISearchDisplayController</string>
				<key>view</key>
				<string>UIView</string>
			</dict>
			<key>superclass</key>
			<string>UIResponder</string>
		</dict>
		<key>UIVisualEffectView</key>
		<dict>
			<key>class</key>
			<string>UIVisualEffectView</string>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UIWebView</key>
		<dict>
			<key>actions</key>
			<dict>
				<key>goBack</key>
				<string>id</string>
				<key>goForward</key>
				<string>id</string>
				<key>reload</key>
				<string>id</string>
				<key>stopLoading</key>
				<string>id</string>
			</dict>
			<key>class</key>
			<string>UIWebView</string>
			<key>outlets</key>
			<dict>
				<key>delegate</key>
				<string>id</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
		<key>UIWindow</key>
		<dict>
			<key>class</key>
			<string>UIWindow</string>
			<key>outlets</key>
			<dict>
				<key>rootViewController</key>
				<string>UIViewController</string>
			</dict>
			<key>superclass</key>
			<string>UIView</string>
		</dict>
	</dict>
</dict>
</plist>
